body {
  margin-bottom: 2em;
  background-color: #70f;
  font-family: 'Bree Serif', serif;
}

.brand {
  margin-top: 1em;
}

.title {
  color: white;
  font-size: 5em;
  font-family: 'Pacifico', cursive;
}

.title-bar {
  color: white;
  font-family: 'Pacifico', cursive;
}
.navbar a:hover {
  color: #f9953e !important;
}
.navbar a {
  color: white !important;
}

.navbar-togger {
  background-color: white;
}

.title-small {
  color: white;
  font-size: 2em;
  font-family: 'Pacifico', cursive;
}

.bree {
  font-family: 'Bree Serif', serif;
  color: white;
}

.bree p {
  font-size: 1.25em;
}

.regular-font {
  font-family: 'Bree Serif', serif;
  font-size: 2em;
  color: white;
}

.previous-queries-label {
  font-family: 'Bree Serif', serif;
  font-size: 1em;
  color: white;
}

#previous-queries {
  margin-bottom: 1em;
}

.trend-row {
  font-size: 0.75em;
  padding: 0.25em;
}


#queryInput {
  height: 3em;
  font-size: 1.5em;
}

#queryInput-results {
  height: 2.5em;
  font-size: 1.5em;
}

.form-control {
  border-radius: 0.5em;
}

.form-control:focus {
  border-color: #f9953e;
  box-shadow: 0px 0px 4px 5px #f9953e;
}

a {
  color: #f9953e;
}

a:hover {
  color: #f9953e;
}

#trends {
  margin-top: 1em;
}

#trends a {
  color: white;
  text-decoration: underline;
}

#trends a:hover {
  color: #f9953e;
  text-decoration: underline;
}

#trends-label {
  margin-bottom: 0.75em;
}

#trends-loading {
  font-size: 1.5em;
}

#trends-loaded {
  opacity: 0.0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #f9953e;
}

#results-content {
  display: none;
}

#num-analyzed {
  margin-top: 1em;
}

#num-positive {
  margin-top: 1em;
  margin-bottom: 1em;
}

#num-negative {
  margin-top: 1em;
  margin-bottom: 1em;
}

#num-neutral {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* https://www.w3schools.com/howto/howto_css_loader.asp */
#loader {
    border: 30px solid #f3f3f3; /* Light grey */
    border-top: 30px solid #f9953e;
    border-bottom: 30px solid #f9953e;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.white-link {
  color: white;
  text-decoration: underline;
}

div.map {
  position: relative;
  margin: auto;
  padding: 20px;
  display: inline-block;
}
